<section style="padding: 40px">
  <h2>Liquid Playground</h2>

  {% assign name = section.settings.name  %}
  <p>Name: {{ name }}</p>
<div {{ section.shopify_attributes }}>
  {% if name == 'Taras' %}
    <p>Привіт Тарас 👋</p>
  {% else %}
    <p>Невідомий юзер</p>
  {% endif %}
  </div>


  {% assign title = " taras developer " %}
  <p>{{ title | strip | capitalize | truncate: 10}}</p>

  {% if title contains "developer"  %}
    <p>Hello developer</p>
  {% else %}
    <p>Hello default human</p>
    {% endif %}

    {% assign price = 100 %}
    <p>{{ price | times: 1.2 }}%</p>
    <p>{{ price | minus: 10}}</p>
    <p>{{ price | times: 2}}</p>
    <p>{{ price | divided_by: 4 | times: 2}}</p>

    {% assign fruits = "apple,banana,orange" | split: "," %}
   {% for item in fruits %}
    <p>{{ item | capitalize }}</p>
    {% endfor %}
</section>

{% schema %}
{
    "name": "training play",
    "settings": [
        {"type": "text", "id": "name", "label": "name", "default": "Tarфіввas"}
    ],
    "presets": [{"name": "training play"}]
}
{% endschema %}