{{ 'benefits.css' | asset_url | stylesheet_tag }}

<section class="section-benefits">
  <div class="container">
    <div class="wrap-content">
      <div>
        <h2 class="benefits-title">{{ section.settings.heading}}</h2>
        <p class="benefits-description">{{ section.settings.description }}</p>
        <img
          class="benefits-img benefits-img-mobile"
          src="{{ 'imgOne.jpg' | asset_url }}"
          alt="buttle"
          loading="lazy"
          width="590"
          height="719"
        >
        <img
          class="benefits-badges-image"
          src="{{ 'badges.png' | asset_url }}"
          alt="Product benefits badges"
          loading="lazy"
          width="367"
          height="136"
        >

        <a href="{{ section.settings.button_link }}" class="benefits-btn"> {{ section.settings.button_text }}</a>
      </div>
      <img
        class="benefits-img"
        src="{{ 'imgOne.jpg' | asset_url }}"
        alt="buttle"
        loading="lazy"
        width="590"
        height="719"
      >
    </div>

    <div class="wrap-content-benefits">
      <img
        class="benefits-img"
        src="{{ 'imgTwo.jpg' | asset_url }}"
        alt="buttle"
        loading="lazy"
        width="590"
        height="719"
      >
      <div>
        <h2 class="benefits-title benefits-subtitle">{{ section.settings.benefits-heading }}</h2>
           <img
        class="benefits-img benefits-img-mobile"
        src="{{ 'imgTwo.jpg' | asset_url }}"
        alt="buttle"
        loading="lazy"
        width="590"
        height="719"
      >
        <ul class="benefits-list">
          {% for block in section.blocks %}
            <li class="benefit-item">
              {% if block.settings.icon != blank %}
                {{ block.settings.icon | image_url: width: 52 | image_tag: loading: 'lazy', class: 'benefits-icon' }}
              {% endif %}
              <p class="benefit-text">{{ block.settings.text }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "benefits",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section heading",
      "default": "Quality Guarantee"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Section description",
      "default": "Two of our core brand values are quality & trust, which is why everything we do is built on a foundation of excellence & transparency. Our products are -"
    },
    {
      "type": "text",
      "id": "benefits-heading",
      "label": "Benefits heading",
      "default": "Why thousands elevate their evenings with Zooz?"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop bestsellers"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "benefit item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "icon"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "text",
          "default": "You want crystal-clear focus for social situations without the alcohol fog"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "benefits"
    }
  ]
}
{% endschema %}
